<h1 mat-dialog-title>Add Customer</h1>
<div mat-dialog-content>
  <form [formGroup]="productform" style="display: flex; flex-direction: column; gap: 15px;">
    <!-- Custom Field for Item -->
    <div style="display: flex; flex-direction: column;">
      <label for="name" style="font-weight: bold;">Enter Name</label>
      <div style="display: flex; align-items: center; border: 1px solid #ccc; border-radius: 4px; padding: 5px;">
        <input
          id="name"
          formControlName="name"
          type="text"
          placeholder="Name"
          style="border: none; outline: none; flex-grow: 1;"
        />
        <mat-icon style="margin-left: 8px;">person</mat-icon>
      </div>
    </div>

    <!-- Custom Field for phno -->
    <div style="display: flex; flex-direction: column;">
      <label for="phno" style="font-weight: bold;">Enter phno</label>
      <div style="border: 1px solid #ccc; border-radius: 4px; padding: 5px;">
        <input
          id="phno"
          formControlName="phno"
          type="text"
          placeholder="phno"
          style="border: none; outline: none; width: 100%;"
        />
      </div>
    </div>
    <div style="display: flex; flex-direction: column;">
        <label for="addr" style="font-weight: bold;">Enter Address</label>
        <div style="border: 1px solid #ccc; border-radius: 4px; padding: 5px;">
          <input
            id="addr"
            formControlName="addr"
            type="text"
            placeholder="addr"
            style="border: none; outline: none; width: 100%;"
          />
        </div>
      </div>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="primary" (click)="addRoom()">
    {{ actionBtn }}
  </button>
  <button
    mat-raised-button
    color="warn"
    mat-dialog-close
    style="margin-left: 8px;"
  >
    Close
  </button>
</div>
