.alternate-row {
    background-color: #eeeeee; /* Light gray background for alternate rows */
  }
  .light-border {
    border-collapse: collapse; /* Separate cell borders */
    border: 1px solid #ddd; /* Light gray border color */
    text-align: center;
  }
  .container{
   
    margin-left: 50px;
    width: 900px;
    height: 500px;
    border: 25px;
    
  }